nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      a.navbar-brand(href='/') Home

    ul.nav.navbar-nav.navbar-right(ng-controller='HistoryCtrl')
      li
        a(href, history-btn) History
        
        include ../partials/listHistory