ks-swiper-container(swiper="swiper", show-scroll-bar="true", on-ready="onReadySwiper(swiper)", override-parameters="{'keyboardControl':true, 'slidesPerView': 'auto', 'spaceBetween': 20, 'a11y': true, 'watchSlidesProgress': true, 'watchSlidesVisibility': true}", swiper-keyboard-access)
  ks-swiper-slide(class="swiper-slide", ng-repeat='movie in movies.list')
    include ./movie