
a(href, ng-click="recordHistory($event)", data-vid="{{movie.vid}}", data-title="{{movie.title}}")
  img(ng-src='{{movie.cover.url}}', width='{{movie.cover.w}}', height='{{movie.cover.h}}')
  h3.title {{movie.title}}
  p.description {{movie.text}}