.history-popup {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fffffe;
  box-shadow: 5px 10px 35px #ccc;
  padding: 10px;
  
  .history-record-wrapper {
    width: 300px;
    height: 330px;
    overflow: scroll;  
  }
  
  .history-record {
    border-bottom: 1px solid #ccc;
    
    &:last-child {
      border-bottom: 0;
    }
  }
  
  .empty-list {
    text-align: center;
  }
  
  &::before {
    content: "";
    position: absolute;
    top: -15px;
    right: 5px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fffffe;
  }
}