/** Navnar **/

.navbar-brand {
  font-size: 14px;
  color: #000 !important;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav {
  float: left !important;
  
  >li {
    float: left !important;
  }
}
.navbar-header {
  float: left!important;
}

.navbar-right {
  float: right!important;
}